<section class="product-list">
  <h1>Productos financieros</h1>
  <button [routerLink]="['/create']">Agregar producto</button>

  <ng-container *ngIf="products.length > 0; else emptyState">
    <input
      #searchInput
      type="text"
      placeholder="Buscar por nombre..."
      (input)="onSearch(searchInput.value)"
      class="search-input"
    />
    <table>
      <thead>
        <tr>
          <th>Logo</th>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Fecha de liberación</th>
          <th>Fecha de revisión</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of pagedProducts">
          <td>
            <img [src]="product.logo" alt="Logo" width="80" height="45" />
          </td>
          <td>{{ product.name }}</td>
          <td>{{ product.description }}</td>
          <td>{{ product.date_release }}</td>
          <td>{{ product.date_revision }}</td>
        </tr>
        <div class="toolbar">
          <span class="total">
            Total: {{ filteredProducts.length || "0" }} Resultados
          </span>

          <label>
            Mostrar
            <select
              #pageSizeSelect
              (change)="onChangePageSize(+pageSizeSelect.value)"
            >
              <option [value]="5">5</option>
              <option [value]="10">10</option>
              <option [value]="20">20</option>
            </select>
            registros
          </label>
        </div>
      </tbody>
    </table>
  </ng-container>

  <ng-template #emptyState>
    <p>No hay productos para mostrar...</p>
  </ng-template>
</section>
